Source: foreman
Section: games
Priority: optional
Maintainer: Florian Will <florian.will@gmail.com>
Build-Depends: debhelper (>= 9.0.0), dh-exec, cli-common-dev, libnlua-cil-dev
Standards-Version: 3.9.5
Homepage: https://bitbucket.org/Nicksaurus/foreman
Vcs-Browser: https://bitbucket.org/Nicksaurus/foreman/src

Package: foreman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${cli:Depends}
Description: Factorio factory optimization tool
 Foreman generates flow charts helping to build factories that produce items
 in a resource-efficient way in the Factorio game.
